
@{
    ViewData["Title"] = "BeenReseted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="text-center text-success h1 fw-bold">Password Succesfully Reset!</p>
</div>

<div>
    <a asp-action="Login" asp-controller="Account" class="btn btn-lg btn-success form-control text-white">
        Log In
    </a>
</div>


