@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Forget Password?</p>
                                <div class=" text text-danger" asp-validation-summary="ModelOnly"></div>
                                <form class="mx-1 mx-md-4" asp-action ="ForgetPassword" method="post">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Email" type="email" id="form3Example3c" class="form-control" />
                                            <label asp-for="Email" class="form-label" for="form3Example3c">Your Email</label>
                                            <span class="text text-danger" asp-validation-for="Email"></span>
                                        </div>
                                    </div>

                                 


                                    <div class="row d-flex justify-content-between mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Send to Email</button>
                                      
                                    </div>
                                    <div>
                                        <a asp-action="Login" asp-controller="Account" class="btn btn-lg btn-success form-control text-white">
                                            Go Back
                                        </a>
                                    </div>
                                    
                                </form>

                            </div>

<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
         class="img-fluid" alt="Sample image">

</div>
 
